@import "tailwindcss";

@theme {
  /* Logo Red */
  --color-primary-red: #ED2025; 
  /* Logo Dark Grey */
  --color-charcoal: #464C54; 
  /* The cool light-greyish blue from the second image */
  --color-light-grey: #DFE2E8; 

  --color-pure-white: #FFFFFF;
  --color-border-gray: #C4C9CF;
  --color-soft-gray: #7C828A;
  
  /* Semantic mappings for the components */
  --color-black: var(--color-charcoal);
  --color-theme-dark-green: var(--color-primary-red);
  --color-theme-iron: var(--color-light-grey);
  
  /* Fonts */
  --font-nohemi: "nohemi", sans-serif;
  --font-inter: "Inter", sans-serif;
}

:root {
  --background: var(--color-light-grey);
  --foreground: var(--color-charcoal);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
